@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@source '../**/*.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Rajdhani', 'Lato', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-bike-purple: #8970D3;
    --shadow-soft: -4px -1px 8px 1px;
}

.swiper-button-next {
    color: #1D2622;
    background: #C8D1C6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

swiper-container::part(button-prev) {
    color: var(--color-bike-purple);
}

swiper-container::part(button-next) {
    color: var(--color-bike-purple);
}